*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color: #2C5C74;
    --link-color: #BAD2ED;
    --background-color: #87BFD4;
    --nav-color: #518FB4;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--background-color);
  font-family: 'Poppins', sans-serif;
}
a{
    color: var(--link-color);
    text-decoration: none;
}
button{
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s easer-in-out ;

}
i {
    font-size: 24px;
}
/*---------------------------------------*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: 80px;
    background-color: var(--nav-color);
}
.left {
    display: flex;
    font-size: 15px;
    font-weight: 600;
    gap: 30px;
}
.right {
    display: flex;
    gap: 30px;
}
/*---------------------------------------*/
#first{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.cercle {
    width: 150px;  /* Ajuste la taille */
    height: 150px; /* Assure un cercle parfait */
    border-radius: 50%;
    object-fit: cover; /* Coupe l'image pour remplir le cercle */
    }
/*---------------------------------------*/
.description{
        padding: 10px;
        margin:10px;
        border-radius: 10px;
        width: 55%;
    } 
#about{
    display: flex;    
}    
/*---------------------------------------*/
#skills img{
    flex-wrap: wrap;
    width: 10%;
    gap: 20px;
    padding: 20px;
}
/*---------------------------------------*/
#projet{
    width: 250px;
    height:250px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    font-size: 25px;
   
}
.hotel{
    background-image: url("hotel.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
}
.sudoku{
    background-image: url("sudoku.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #08032e;
}
/*---------------------------------------*/
.inputs {
    padding: 0 50px;
    width: 500px;
    margin-bottom:10px ;
    display: flex;
    gap: 10px;
    flex:3;
    flex-direction: column;
}
#email , #name , #message {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#contact{
    padding: 25px 5px 25px 5px;
    align-items: center;
    
}
form{
    align-items: center;
}
/*---------------------------------------*/
hr {
    border: 0.5px solid rgb(88, 94, 123);
}
/*---------------------------------------*/
#links {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 25px 5px 25px 5px;
}
#links a{
   color: var(--text-color);
}
/*---------------------------------------*/
@media(max-width:600px) {
    nav{
        padding: 0 20px;
    };
    
}
